{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}" >



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Sign Up</title>
</head>
<body>
    <p>  </p>
      </br>
    <p>  </p>
            <div class="bg-img">
                <div class="container">
                    <form method="POST">
                        
                        
                        <div class="alert alert-success" role="alert">
                            <h4>A mail has been sent to your email.Please confirm your email address to complete the registration</h4>
                        </div>
                        
                        
</div>
</span>
</body>
</html>